@scope (.popover-wrapper) {
  :scope {
    inline-size: min(100%, 1280px);
    padding: 1rem;
    margin-inline: auto;
  }

  @position-try --full-width-below {
    position-area: bottom;
    inset-block-start: calc(anchor(bottom) + 1rem);
    inset-inline: 0;
  }

  .page-title {
    margin-bottom: 1rem;
  }

  /* .menu {
  } */

  .list-first-level {
    display: grid;
    gap: 1rem;
    /* grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* currently buggy for repeated elements like ul>li: https://issuetracker.google.com/issues/373815812?utm_source=chatgpt.com&pli=1 */
    /* anchor-scope: --first-level-entry-anchor; */
  }

  .list-first-level-entry {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
    /* anchor-name: --first-level-entry-anchor; */

    &:has(> .list-second-level) {
      grid-template-columns: 1fr auto;
    }

    &:has(> .list-second-level:popover-open) > .list-first-level-entry-toggle-button {
      background-color: var(--link-hover-focus-background-color);
    }
  }

  .list-first-level-entry-link {
    display: block;
    padding: 1rem;
    align-content: center;
    background-color: var(--link-base-background-color);

    &:is(:hover, :focus) {
      background-color: var(--link-hover-focus-background-color);
    }
  }

  .list-first-level-entry-toggle-button {
    inline-size: 2.5rem;
    background-color: var(--link-base-background-color);

    &:is(:hover, :focus) {
      background-color: var(--link-hover-focus-background-color);
    }
  }

  .list-second-level {
    display: none;
    inset-inline-start: calc(anchor(right) + 1rem);
    inset-block-start: anchor(top);
    width: anchor-size(width);
    gap: 1rem;
    flex-direction: column;
    /* position-anchor: --first-level-entry-anchor; */
    position-area: bottom right;
    position-try: --full-width-below;
    background: none;

    &:popover-open {
      display: flex;

      &::backdrop {
        background: rgba(225, 225, 225, 0.75);
      }
    }
  }

  .list-second-level-entry {
    position: relative;
    min-width: max-content;
    max-width: 100%;
  }

  .list-second-level-entry-link {
    display: block;
    padding: 1rem;
    border: 1px solid black;
    overflow: hidden;
    background-color: var(--link-base-background-color);
  }

  .list-second-level-entry-link:is(:hover, :focus) {
    background-color: var(--link-hover-focus-background-color);
  }
}
