@scope (.classic-wrapper) {
  :scope {
    inline-size: min(100%, 1280px);
    padding: 1rem;
    margin-inline: auto;
  }

  .page-title {
    margin-bottom: 1rem;
  }

  .menu {
    position: relative;
    z-index: 2;
  }

  .list-first-level {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
  }

  .list-first-level-entry {
    position: relative;
  }

  .list-first-level-entry:has(> .list-second-level):is(:hover, :focus-within) > .list-second-level {
    display: flex;
    height: auto;
    height: calc-size(auto, size);
    content-visibility: visible;

    @starting-style {
      height: 0;
    }
  }

  .list-first-level-entry-link {
    display: block;
    padding: 1rem;
    height: 100%;
    align-content: center;
    border: 1px solid black;
    background-color: var(--link-base-background-color);
    overflow: clip;
    anchor-name: --my-anchor;
  }

  .list-first-level-entry-link:is(:hover, :focus) {
    background-color: var(--link-hover-focus-background-color);
  }

  :is(:hover, :focus-within) > .list-first-level-entry-link {
    background-color: var(--link-hover-focus-background-color);
  }

  /* +/- icon logic */
  @container style(--has-children: true) {
    .list-first-level-entry-link {
      padding-right: 2.5rem;
    }

    .list-first-level-entry-link::before {
      content: none;
      display: block;
      position: absolute;
      inset: 0;
      right: 1rem;
      justify-self: end;
      align-self: center;
    }

    /* submenu is not expanded */
    :not(:is(:hover, :focus-within)) > .list-first-level-entry-link::before {
      content: '+';
    }

    /* submenu is expanded */
    :is(:hover, :focus-within) > .list-first-level-entry-link::before {
      content: '-';
    }
  }

  /* Second level menu styles */
  .list-second-level {
    display: none;
    position: absolute;
    inset-block-start: anchor(bottom);
    padding-block-start: 1rem;
    padding-inline: 0;
    width: anchor-size(width);
    height: 0;
    flex-direction: column;
    gap: 0.5rem;
    overflow: clip;
    position-anchor: --my-anchor;
    position-area: bottom;
    background: black content-box;
    transition:
      height var(--transition-duration) ease,
      display var(--transition-duration) ease,
      content-visibility var(--transition-duration) ease;
    transition-behavior: allow-discrete;
    content-visibility: hidden;
  }

  .list-second-level-entry {
    width: 100%;
  }

  .list-second-level-entry-link {
    display: block;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: var(--link-base-background-color);
    border: 1px solid black;

    &:is(:hover, :focus) {
      background-color: var(--link-hover-focus-background-color);
    }
  }
}
