@layer reset, base, tokens, recipes, utilities;

:root {
  --transition-duration: 0.25s;
  --link-base-background-color: white;
  --link-hover-focus-background-color: deeppink;

  @media (prefers-reduced-motion) {
    --transition-duration: 0;
  }
}
